@section Css{
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
}
<div style="background:rgb(0,0,0,.2);width:10rem;height:10rem">
    <i class="ficon far fa-bell lbl-yellow  ml-05"></i>
    <i class="ficon far fa-user-circle"></i>
    <i class="fas fa-laptop-code"></i>
    @ViewBag.UserName
</div>